:root {
    --main-btn-bg: #4D5AE5;
    --secondary-btn-bg: #F4F4FD;
    --btn-bg-in-hover: #404BBF;
    --address-hover: #404BBF;
    --main-btn-color: #FFFFFF;
    --secondary-btn-color: #4D5AE5;
    --address-color: #434455;
    --main-title-color: #FFFFFF;
    --main-page-text: #434455;
    --secondary-page-text: #2E2F42;
    --first-logo-part: #4D5AE5;
    --second-header-logo-part: #2E2F42;
    --second-footer-logo-part: #F4F4FD;
    --footer-text-color: #E7E9FC;
    --main-page-bg: #2E2F42;
    --secondary-page-bg: #F4F4FD;
    --main-portfolio-color: #2E2F42;
    --secondary-portfolio-color: #434455;
    --team-list-bg: #ffffff;
}
/*КОЛЬОРОВІ ЗМІННІ
--main-btn-bg: #4D5AE5; головна заливка кнопки
--secondary-btn-bg: #F4F4FD; другорядна заливка кнопки
--main-btn-color: #FFFFFF; головний колір кнопки
--secondary-btn-color: #4D5AE5;другорядний колір кнопки
--address-color: #434455; колір в тезі адрес
--main-title-color: #FFFFFF; колір заголовку H1
--main-page-text: #434455; головний текст сторінки - абзац
--secondary-page-text: #2E2F42; другорядний текст сторінки заголовки
--first-logo-part: #4D5AE5; перша частина лого
--second-header-logo-part: #2E2F42; друга частина в хедері
--second-footer-logo-part: #F4F4FD; в футері
--footer-text: color: #E7E9FC; текст в фтері - абзац
--main-page-bg: #2E2F42; головний бекграунд сторінки
--secondary-page-bg: #F4F4FD; другорядний бекграунд сторінки
--main-portfolio-color: #2E2F42 головний колір портфоліо
--secondary-portfolio-color: #434455; другий колір портфоліо

*/



body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

/**-------------------------------HEADER----------------------------*/
.header {

}

.header-navigation {

}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--first-logo-part);
}

.part-of-logo {
    color: var(--second-header-logo-part);
    /*color: #2E2F42;*/
}

.header-list {

}

.header-list-item {
    

    /*color: #2E2F42;*/
}


.header-list-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-page-text);
    /*color: #2E2F42;*/
}

.header-list-link:hover,
.header-list-link:focus {
    color: var(--btn-bg-in-hover);
    /*color: #404BBF;*/
}
.header-address {
    font-style: normal;
}

.address-list {

}

.address-list-item {

}

.address-list-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;    
    letter-spacing: 0.02em;
    color: var(--address-color);
    /*color: #434455;*/
}

.address-list-link:hover,
.address-list-link:focus {
    color: var(--address-hover);
    /*color: #404BBF;*/
}

/**-------------------------------HERO----------------------------*/

.hero {
    background-color: var(--main-page-bg);
    /*background-color: #2E2F42;*/
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;    
    color: var(--main-title-color);
}

.hero-btn {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: var(--main-btn-color);
    /*color: #FFFFFF;*/
    background: var(--main-btn-bg);
    /*background: #4D5AE5;*/
    cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--btn-bg-in-hover);
    /*color: #404BBF;*/
}

/**-------------------------------STRATEGY----------------------------*/


.strategy {

}

.strategy-title {

}

.strategy-list {

}

.strategy-list-item {

}

.strategy-list-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--secondary-page-text);
    /*color: #2E2F42;*/
}

.strategy-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-page-text);
    /*color: #434455;*/
}

/**-------------------------------WORK----------------------------*/
.work {

}

.work-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--secondary-page-text);
    /*color: #2E2F42;*/
}

.work-list {

}

.work-list-item {

}

/**-------------------------------OUR TEAM----------------------------*/
.team {
    background-color: var(--secondary-page-bg);
    /*background-color: #F4F4FD;*/
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--secondary-page-text);
    /*color: #2E2F42;*/
}

.team-list {

}

.team-list-item {
    background-color: var(--team-list-bg);
    /*background-color: #FFFFFF;*/
}

.team-list-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--secondary-page-text);
    /*color: #2E2F42;*/
}

.team-list-text {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-page-text);
    /*color: #434455;*/
}

/**-------------------------------FOOTER----------------------------*/

.footer {
    background-color: var(--main-page-bg);
    /*background-color: #2E2F42;*/
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--first-logo-part);
    /*color: #4D5AE5;*/
}

.footer-part-of-logo {
    color: var(--second-footer-logo-part);
    /*color: #F4F4FD;*/
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--footer-text-color);
    /*color: #E7E9FC;*/
}

/**-------------------------------portfolio----------------------------*/
/**-------------------------------MAIN----------------------------*/


.main {

}

.filter {

}

.filter-title {

}

.filter-list {

}

.filter-list-item {

}

.filter-list-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    background-color: var(--secondary-btn-bg);
    /*background-color: #F4F4FD;*/
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    color: var(--secondary-btn-color);
    /*color: #4D5AE5;*/
    cursor: pointer;
}

.filter-list-btn:hover,
.filter-list-btn:focus {
    background-color: var(--btn-bg-in-hover);
    /*background-color: #404BBF;*/
    color: var(--main-btn-color);
    /*color: #FFFFFF;*/
}
.result-list {

}

.result-list-item {

}

.result-link {

}

.result-list-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-portfolio-color);
    /*color: #2E2F42;*/
}

.result-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-portfolio-color);
    /*color: #434455;*/
}